.container
  .username
    = @useername

  = image_tag 'baseline_account_circle_black_48dp.png', class: 'icon'

  .breadcrumb__list
    ._breadcrumb__item Posts
    ._breadcrumb__item Followers
    ._breadcrumb__item Follow
    