@import './variables';

.profile-avatar {
  position: absolute;
  left: 148.56px;
  top: 105.56px;
  cursor: pointer;
}

// .breadcrumb__list {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 21px;
//   position: absolute;
//   width: 241px;
//   height: 47px;
//   left: 75px;
//   top: 253px;
//   display: flex;
//   justify-content: space-around;
// }

.breadcrumb__list_primary {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  width: 241px;
  height: 47px;
  left: 75px;
  top: 229px;
  display: flex;
  justify-content: space-around;
  color: #333A42;
}

.breadcrumb__list_secondary {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  width: 241px;
  height: 47px;
  left: 75px;
  top: 253px;
  display: flex;
  justify-content: space-around;
}

._breadcrumb__item {
  font-size: 14px;
  line-height: 21px;
  color: #9E9E9E;
  a {
    font-size: 14px;
    line-height: 21px;
    color: #9E9E9E;
  }
}

.count {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #333A42;
}

.popup-overlay{
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:80%;
  height:20%;
  left:10%; 
}
.popup-overlay.active{
  visibility:visible;
  text-align:center;
}

.popup-content {
 visibility:hidden;
}

.popup-content.active {
  visibility:visible;
}

button{
  display:inline-block;
  vertical-align:middle;
  border-radius:30px;
  margin:.20rem;
  font-size: 1rem;
  color:#666666;
  background:	#ffffff;
  border:1px solid #666666;  
}

button:hover{
  border:1px solid #666666;
  background:#666666;
  color:#ffffff;
}

.close {
  position: absolute;
  top: 120px;
  left: 115px;
}

.btn-submit {
  position: absolute;
  top: 55px;
  left: 200px;
}

.follow-page {
  display: flex;
  margin-top: 50px;
  margin-bottom: 18px;

  &_username {
    color: $primary-color;
    font-size: 14px;
    line-height: 21px;
  }
}

.follow_username {
  margin-left: 20px;
}